# Python Programming: Essentials 1

#### Variables are used to store values. 

#### A string is a series of characters, surrounded by single or double quotes.

Hello world

In [1]:
print("Hello World") # print() is your first function

Hello World

Hello world via a variable

In [2]:
message= "hello python class" # assigning a string to a variable

print(message) # message is a variable

hello python class



Concatenation (combining strings)

In [3]:
first_name = 'Victoria' 
last_name = 'Adesanya' 

full_name = first_name + ' ' + last_name 

print(full_name)

Victoria Adesanya

In [4]:
full_name

'Victoria Adesanya'

In [5]:
# little funny one: multiply words! 
print(full_name * 5)

Victoria AdesanyaVictoria AdesanyaVictoria AdesanyaVictoria AdesanyaVictoria Adesanya

In [6]:
print(first_name , last_name ) # the comma adds a space automatically

Victoria Adesanya



## List

A list stores a series of items in a particular order. 

You access items using an index, or within a loop. 
Make a list

In [7]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

print(bicycles)

['mountain', 'road', 'race', 'penny-farthing']

In [9]:
hill = 'mountain'
bikes = [hill, 'road', 'race', 'penny-farthing']

In [10]:
print(bikes)

['mountain', 'road', 'race', 'penny-farthing']

In [11]:
addon = ['raleigh' , 'brompton'] #adding values pick up whats in the memoery spot and add to the list

bicycles = bicycles + addon # add a list to a list

print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'raleigh', 'brompton']

In [12]:
bicycles = bicycles + ['peugeot'] #square brackets define a list

In [13]:
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'raleigh', 'brompton', 'peugeot']

Get the first item in the list

In [14]:
first_bike = bicycles[0]  # list[position] fetch the first item, i want position 1
print (first_bike)

mountain

In [15]:
third_bike = bicycles[2]  # list[position] standard counts from 0
print (third_bike,first_bike)

race mountain

Get the last item in the list

In [16]:
last_bike = bicycles[-1] #position -1
print(last_bike)

peugeot

In [18]:
second_last = bicycles[-2]# write code to print the penultimate (i.e. one before last) bike

In [19]:
print(second_last)

brompton

# Working with Strings

## split() function

In [20]:
# the function split() cuts a string at specified character position then store the result in a list

sentence = "'Jeff Bezos divorce: Amazon billionaire 'dating married former TV presenter'"#text already has single quotes

words = sentence.split(' ') # divides the sentence and returns alist

print(words)

["'Jeff", 'Bezos', 'divorce:', 'Amazon', 'billionaire', "'dating", 'married', 'former', 'TV', "presenter'"]

In [21]:
url = 'https://www.standard.co.uk/news/politics/brexit-secretary-dominic-raab-quits-his-post-a3990626.html'

elements = url.split('/') #when analysing a web crawl
print(elements)

['https:', '', 'www.standard.co.uk', 'news', 'politics', 'brexit-secretary-dominic-raab-quits-his-post-a3990626.html']

In [30]:
# adapt to get the first and second part from an email address

email = "trainingsupport@pairview.co.uk"
words =email.split('@')
print(words)
########## your code below#############
parts= email.split('@')
print(parts[0],parts[1])

#equvalent
first = email.split('@')[0]
second = email.split('@')[1]

['trainingsupport', 'pairview.co.uk']
trainingsupport pairview.co.uk

In [28]:
# write code to get the first name and the last name from the full name that 
# can include 1 or many middle names

################your code################
myname = "Elizabeth Alexandra Mary Windsor"
words = myname.split(' ')
print(words[0],words[-1])

Elizabeth Windsor

## join() function

In [31]:
# write code to get the first name and the last name from the full name that 
# can include 1 or many middle names

################your code################
myname = "Elizabeth Alexandra Mary Windsor"
names =myname.split(' ')
first_name = name[0]
first_letter = first_name[0]
last_name = names[-1]
## special buiding email fgueret@pairview.co.uk########
queen_email= first_letter+ last_name + parts[1]
print(queen_email)

EWindsorpairview.co.uk

In [32]:
# the function join() take a list of strings and concatenate its elements separated by the character passed to it
separator =' '

sentence = separator.join(words) ####join is used to concatenante when we dont know how many vales we are joining

print(sentence)

trainingsupport pairview.co.uk

## strip() function

In [34]:
# the function strip() removes unwanted characters (spaces usually) 
# at the beginning and ending of a string
stri = "0000000@@   this is a polluted # string example   @@0000000"

x= stri.strip('0').strip('@').strip() #strip() with no parameter removes spaces only in the beginning and end
print(x)

# strip() is equivalent to strip(' ')

this is a polluted # string example

## replace(old_word,new_word) function

In [35]:
# and now I present you the function replace
clean =x.replace('polluted #','cleaned')
print(clean)

this is a cleaned string example

# for in statement
### Looping through a list

In [36]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']


for n in bicycles: 
    print(n)
 
print('this is outside the loop')

mountain
road
race
penny-farthing
this is outside the loop

In [ ]:
bicycles = ['mountain', 'road', 'race', 'penny-farthing']

c=1
word =bicycles[0]
print(c,' : ',word)
c=c+1

word =bicycles[1]
print(c,' : ',word)
c=c+1

word =bicycles[2]
print(c,' : ',word)
c=c+1

word =bicycles[3]
print(c,' : ',word)
c=c+1

print('this is outside the loop')

## range () function

In [37]:
# loop above equivalent to 

for i in range(0,4): #for i = 0 to 3 do in C++
    c = i + 1
    print(c ,' : ',bicycles[i])

1  :  mountain
2  :  road
3  :  race
4  :  penny-farthing

In [ ]:
# range function testers

In [38]:
for number in range(8): # one only attribute = range(0,8)
    print(number)

0
1
2
3
4
5
6
7

In [39]:
for number in range(2,8): # first is start , second the one before
    print(number)

2
3
4
5
6
7

In [40]:
for number in range(2,8,2): # first is start , second the one before the last # 3rd the step
    print(number)

2
4
6

## Adding items to a list

In [41]:
# add another string
bicycles.append('peugeot')
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot']

In [ ]:
# equivalent to 
bicycles = bicycles  +  ['peugeot']

In [42]:
# aside: insert
bicycles.insert(2,'BMX')# returns the position you want the new insert
print(bicycles)

['mountain', 'road', 'BMX', 'race', 'penny-farthing', 'peugeot']

In [43]:
# add a number!
bicycles.append(22)
print(bicycles)

['mountain', 'road', 'BMX', 'race', 'penny-farthing', 'peugeot', 22]

In [44]:
bicycles.remove('BMX') #removes the 1st instance in the list of the attribute
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot', 22]

In [45]:
bicycles.pop() # removes the last item in the list
print(bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot']

In [46]:
# add a list!!
bicycles.append(['derailleur','shimano']) 
print(bicycles)

#YOU CAN ADD ANYTHING!!!

['mountain', 'road', 'race', 'penny-farthing', 'peugeot', ['derailleur', 'shimano']]

In [47]:
# Code for accessing the second item in the list inside the list
print(bicycles[-1][0])

derailleur

## Making numerical lists

In [ ]:
# initialisation 
cubes = [] 

# loop
for number in range(1, 7): 
    cubes.append(number**3) 

print(cubes)

# ** operator is power

In [52]:
# write code to calculate the average of numbers from 5 to 15
# the average is the sum divided by the number of elements

series = [5,6,7,8,9,10,11,12,13,14,15]
#range(5,16)

In [53]:
#initialisation
total=0 #make sure its clean by initialising, if you dont and run it a few times ite keeps adding
count=0

#loop
for n in series:
    total= total + n
    count= count +1
result=total/count
print (result)
#result and print

10.0

## len() function

In [ ]:
# the amazing Len function - aka the length of everything
#len()    
   
l = len (range(5,16)) # number of elements in the numerical series
print(l)

print( len (bicycles)) #number of items in list

print(len('guardian')) # number of character

# List comprehensions : Advanced

In [ ]:
cubes = [x**3 for x in range(1, 7)] 
print(cubes)
# equivalent to

In [ ]:
cubes = [] 
for x in range(1, 7): 
    cubes.append(x**3) 
print(cubes)

## List comprehension exercise 

Write one line of Python that takes this list and makes a new list that has only the even elements of this list in it.

In [ ]:
List = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Slicing a list

In [54]:
finishers = ['Sue','Elliot', 'Kumiko','Damien','Aaron'] 
first_two = finishers[:2] # all up to 2 but not 2
print(first_two)

['Sue', 'Elliot']

In [56]:
last_two = finishers[3:] # from 2 (included) up to end
print(last_two)

['Damien', 'Aaron']

In [57]:
f = finishers[:2] + finishers[2:] 
print(f)

['Sue', 'Elliot', 'Kumiko', 'Damien', 'Aaron']

In [58]:
last_two = finishers[-3:]
print(last_two)

['Kumiko', 'Damien', 'Aaron']

### Tuples

Tuples are similar to lists, but the items in a tuple can't be modified.

Making a tuple

In [ ]:
# tuple of numbers
dimensions = (1920, 1080)

# tuples of tuples
pushbikes= ('mountain', 'road', 'race', 'penny-farthing')

#tuple of different types of variables
hold_all = (35, 'Data Science', [1,2,3,4,5], (1,7))

print(hold_all)

In [ ]:
t, x, y , z= hold_all 
print(x)

In [ ]:
#hold_all[0]= 34

print(hold_all[0])

### If statements are used to test for particular conditions and respond appropriately.

# if (condition) : action

In [59]:
# If statement
age = 25
commonwealth = True

if age >= 18: 
    print("You may be able to vote")
    print("something else")

You may be able to vote
something else

In [60]:
if (age >= 18 and commonwealth == True): # or xor
    print("You can vote!")

You can vote!

In [61]:
#If-elif-else statements 
if age < 4: 
    price = 0
    print('Kids go free')
elif age < 18: price = 10 
elif age > 65: price = 12
else: price = 15
    

print(price)

15

Conditions

tests equals
x == 42 

not equal 
x != 42  

greater than 
x > 42 

greater than or equal to
x >= 42 

less than
x < 42 

less than or equal to
x <= 42

In [62]:
x = 57 #  assign 57 to x

# (x<42) is  a test with a value of True of False
#print('is x smaller than 42?', x < 42)

Var = (x > 42 )

print(Var)

print(x<42)

True
False

In [63]:
grade = 80

x = (grade> 70) # pass rate

if x :
    print("passed")
else :
    print("failed please retake")
    
if x :
    print("admission to uni")

passed
admission to uni

## Conditional test with lists 
## IN
## NOT IN

In [64]:
print('downhill' in bicycles)

False

In [65]:
print('downhill' not in bicycles)

True

In [66]:
if 'downhill' not in bicycles:
    bicycles.append('downhill')

In [69]:
# downhill tricycle
if 'downhill' not in bicycles and 'tricycle' not in bicycles :
    bicycles = bicycles + ['downhill','tricycle']

In [68]:
print (bicycles)

['mountain', 'road', 'race', 'penny-farthing', 'peugeot', ['derailleur', 'shimano'], 'downhill']

In [70]:
newbikes = ['downhill', 'tricycle', 'fixie']

In [71]:
for b in bicycles:
    if b not in newbikes:
        newbikes.append(b)
    else: print(b,' already in')
        
print(newbikes)

downhill  already in
['downhill', 'tricycle', 'fixie', 'mountain', 'road', 'race', 'penny-farthing', 'peugeot', ['derailleur', 'shimano']]

Assigning boolean values

In [ ]:
game_active = True #true or false is a variable 
can_edit = False

if game_active or can_edit:
    print('yay')

# Exercise

Take a list of numbers
and write a program that prints out all the elements of the list that are less than 5.

In [77]:
# set list

List = [1, 1, 25, 3, 55, 8, 13, 21, 3, 5, 89]
less = []
# your code below

for n in List:
    if n < 5:
        less.append(n)        
print(less)

[1, 1, 3, 3]

In [78]:
# i want to put in a new list the odd numbers
odds=[]
even=[]
# your code below

for n in List:
    if n % 2 ==1:
        odds.append(n)  
    else:even.append(n)
print(odds)
print(even)

[1, 1, 25, 3, 55, 13, 21, 3, 5, 89]
[8]

In [ ]:
odds =[]



print(odds)

In [79]:
#  modulo operation % gives the remainder of division
# div operation // that performs an integer division

print(5 % 2)
print(5 // 2)

1
2

# Dictionaries 
they store connections between pieces of information

Each item in a dictionary is a key-value pair

Simple dictionaries {}

In [80]:
word_frequency = {'Data' : 14, 'Science': 10, 'Machine': 5, 'Learning' : 8}


real_dictionary = {'a': 'string that defines a', 'abc': 'definition of abc'}


# with different value types
car = {'make' : 'Mazda', 'model' : '3 sport', 'engine_size_cc': 2259,
       'colour': 'laser blue', 'dimensions_mm' : {'w':1795 , 'l':4465 , 'h':1465}}

Accessing a value

In [81]:
print( car['colour'])
# dict[key] accesses the value in key , value pair

laser blue

In [82]:
#write code to retrieve the dictionary inside the dictionary

print (car['dimensions_mm'])

{'w': 1795, 'l': 4465, 'h': 1465}

In [ ]:
# retrieve the value in the dictionary inside the dictionary
# width w

dict = {'w': 1795, 'l': 4465, 'h': 1465}
dict['w']

print (car['dimensions_mm']['w'])

In [88]:
# Adding / modifying a new key-value pair
car['transmission_type'] = 'automatic'

car['colour'] = 'blood red'
# dic[key] = value
print(car)

{'make': 'Mazda', 'model': '3 sport', 'engine_size_cc': 2259, 'colour': 'blood red', 'dimensions_mm': {'w': 1795, 'l': 4465, 'h': 1465}, 'transmission_type': 'automatic'}

Values, Keys and Items

In [89]:
print(car.items())

dict_items([('make', 'Mazda'), ('model', '3 sport'), ('engine_size_cc', 2259), ('colour', 'blood red'), ('dimensions_mm', {'w': 1795, 'l': 4465, 'h': 1465}), ('transmission_type', 'automatic')])

In [90]:
print(car.keys())

dict_keys(['make', 'model', 'engine_size_cc', 'colour', 'dimensions_mm', 'transmission_type'])

In [91]:
print(car.values())

dict_values(['Mazda', '3 sport', 2259, 'blood red', {'w': 1795, 'l': 4465, 'h': 1465}, 'automatic'])

Looping through all keys

In [92]:
# for keys in dictionary:

for k in car.keys(): 
    print(k + ' is a car characteristic')

make is a car characteristic
model is a car characteristic
engine_size_cc is a car characteristic
colour is a car characteristic
dimensions_mm is a car characteristic
transmission_type is a car characteristic

Looping through all the values

In [ ]:
# write code to loop through all the values
for v in car.values(): 
    print(v, "is a characteristic")

Looping through all key-value pairs

In [ ]:
for k,v in car.items():  #k for first element of tuple and v for second element
    print(k , 'is', v)

In [95]:
Tuples_List = [(1,2,3) , (4,5,6) , (7,8,9)]

for a , b , c in Tuples_List:
    print(round(a*b/c,2))

0.67
3.33
6.22

In [103]:
#Write a Python script to concatenate following dictionaries to create a new one. 

#Sample Dictionary : 
dic1={1:'Royal Dutch Shell', 2:'BP'} 
dic2={3:'Total', 4:'Volkswagen'} 
dic3={5:'Glencore Xstrata',6:'Gazprom'}

#initialisation
final=dic1
for k,v in dic2.items():
    final[k]=v
    
for k,v in dic3.items():
    final[k]=v
    
print(final)

{1: 'Royal Dutch Shell', 2: 'BP', 3: 'Total', 4: 'Volkswagen', 5: 'Glencore Xstrata', 6: 'Gazprom'}

In [105]:
# Write a Python script to check if a given key already exists in a dictionary.

test_number = 7
key_in_dictionary = False

### your code ####
if test_number in final.keys():
    print('got it already good bye farewell')
else: print('please add to dictionary')

please add to dictionary

### Programs can prompt the user for input. 
All input is stored as a string. 

Prompting for a value

In [107]:
# prompting for a value
name = input("What's your name? ")#~input always returns a string
print("Hello, " + name + "!")

What's your name? victoria
Hello, victoria!

In [108]:
# prompting for a number

age = int(input("How old are you? ")) #return a string convert it to an integer so its not read as a
print(age*7)

How old are you? 10
70

In [112]:
pi = input("What's the value of pi? ")
pi = round(float(pi),2)
print(pi)

What's the value of pi? 3.142
3.14

# Exercise
Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.

In [119]:
#initialisation
current_year = 2019
name = input("What's your name? ")#input always returns a string
age= int(input("what is your year of birth?"))
print("Hello, " + name + "!") 
print("You will turn 100yrs old in the year", age+100)

What's your name? v
what is your year of birth?1982
Hello, v!
You will turn 100yrs old in the year 2082

In [ ]:
# Write a Python program that prompts for a month name and converts it to a number
# of days.
#List of months: January, February, March, April, May, June, July, August
#, September, October, November, December                                

# Example
#Input the name of Month: February                                       
#No. of days: 28/29 days

In [ ]:
#initialisation
current_year = 2019
current_month = 'march'
month_name = {'January' : 1, 'February': 2, 'March': 3, 'April' : 4, 'May' :5, 'June': 6, 'July': 7, 'August': 8, 'September':9, 'october':10,'november':11, 'december':12}
print (month_name)

In [ ]:
#initialisation
current_year = 2019
current_month = 'march'
month_name = {'January' : 1, 'February': 2, 'March': 3, 'April' : 4, 'May' :5, 'June': 6, 'July': 7, 'August': 8, 'September':9, 'october':10,'november':11, 'december':12}
print (month_name)


month = input("What Month of year? ") #input always returns a string
month= int(month) 
print (month)